.hero-section {
    margin-top: 80px;

    .welcome-msg {
        font-size: 60px;

        #cursor {
            display: inline-block;
            vertical-align: middle;
            width: 3px;
            height: 50px;
            background-color: $secondary;
            animation: blink .75s step-end infinite;
        }

        #text {
            color: $secondary;
            display: block;
            height: 72px;
        }

    }

    .bg-hero {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 120px;
        border-radius: $radius-normal;
        // box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

        .hero-content {
            h3 {
                font-size: 50px;
                color: $lightBlack;
                line-height: 65px;

                b {
                    display: block;
                }
            }
        }

        .image-lady {
            position: absolute;
            width: 100%;
            top: -290px;
        }
    }
}

.team-member {
    margin-top: 80px;
    margin-bottom: 80px;

    .main-title {
        margin-bottom: 20px;

        h3 {
            color: $lightBlack;
            font-size: 30px;
            font-weight: 700;
            margin-top: 20px;
            text-transform: uppercase;
        }

        a {
            color: $secondary;
            font-weight: 700;
            font-size: 16px;
        }
    }

    .team-slider {
        .single-team-member {
            // background-color: #fff;
            // box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            // width:max-content !important;
            // padding:20px;

            a {
                img {
                    height: 200px;
                    border-radius: $radius-normal;
                    width: 100%;
                    object-fit: cover;

                }

                h5 {
                    color: $lightBlack;
                    font-size: 20px;
                    font-weight: 600;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                p {
                    color: $secondary;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
    }
}

.view-all-team {
    background-color: #CCF0BF;
    padding: 80px 0;

    h3 {
        font-size: 50px;
        color: $primary;
        line-height: 65px;
    }
}

.search-section {
    margin-top: 180px;
    margin-bottom: 80px;
    position: relative;

    .round-position {
        position: absolute;
        top: -180px;
        width: 200px;
        right: 50px;
    }

    .welcome-msg {
        font-size: 60px;

        #cursor2 {
            display: inline-block;
            vertical-align: middle;
            width: 3px;
            height: 50px;
            background-color: $secondary;
            animation: blink .75s step-end infinite;
        }

        #text2 {
            color: $secondary;
            display: block;
            height: 72px;
        }
    }

    .bg-hero {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 120px;
        border-radius: $radius-normal;

        .hero-content {
            h3 {
                font-size: 50px;
                color: $lightBlack;
                line-height: 65px;

                b {
                    display: block;
                }
            }
        }

        .image-lady {
            position: absolute;
            width: 100%;
            top: -350px;
        }
    }
}

.testimonial {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #CCF0BF;

    .testimonial-content {
        h3 {
            color: $lightBlack;
            font-size: 24px;
            font-weight: 600;
        }

        .testimonial-details {
            img {
                width: 60px;
                height: 60px;
                border-radius: 5px;
            }

            h5 {
                font-size: 20px;
                color: $lightBlack;
                font-weight: 700;
            }

            p {
                font-size: 14px;
                color: $lightBlack;
                font-weight: 500;
            }
        }
    }
}

.hero-main {
    .main-slider {
        .main-bg {
            height: 650px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            .inner-hero {
                padding-top: 250px;
                text-align: center;

                h3 {
                    color: $white;
                    font-size: 65px;
                    font-weight: 700;
                    position: relative;
                }

                a {
                    text-transform: uppercase;
                    color: $white;
                    font-size: 14px;
                    text-align: center;
                    position: relative;
                    opacity: 0.5;
                    letter-spacing: 2.6px;
                    display: block;
                    margin-top: 20px;
                    font-weight: 600;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .bg-find-services {
        background-color: $lightBlack;
        height: 650px;
        padding: 150px 60px 0 60px;

        h3 {
            color: $white;
            font-size: 40px;
            margin-bottom: 20px;
        }

        p {
            color: $white;
            font-size: 16px;
            margin-bottom: 20px;

        }

        a {
            background-color: transparent;
            color: $white;
            border: 1px solid #fff;
            display: block;
            padding: 15px 20px;
            text-align: center;
            margin-bottom: 30px;
            border-radius: 5px;
            margin-bottom: 40px;

        }

    }

}

.login-form-main {
    padding-top: 30px;

    .login-dashboard-main {
        h1 {
            @include fontSize(48px);
            width: 350px;
            padding: 20px;
        }

        .login-dashboard-img {
            height: calc(100vh - 20vh);

            @include media-breakpoint-down (sm) {
                height: 600px;
            }

            .round-img {
                @include width();
                z-index: -1;
                height: 600px;
            }

            .emp-img {
                height: 100%;
                object-fit: cover;
                padding-top: 45px;
                @include width();
            }
        }
    }

    .form-main {
        padding: 60px;

        @media (max-width: 500px) {
            padding: 20px;
        }

        .login-form {
            padding: 20px;
            max-width: 100%;
            width: 500px;
            background: $white;
            margin: 0 auto;

            .login-title h3 {
                @include fontSize(48px);
            }

            .login-line p {
                font-size: $oneeightFont;
                font-weight: 600;
                color: $grayColor;
            }

            .login-feild {
                .login-label label {
                    font-size: 20px;
                    font-weight: 600;
                    color: $lightBlack;
                }

                .login-input input {
                    @include commonInput();

                    &:focus {
                        outline: none;
                    }
                }
            }

            .remember-checkbox {
                input {
                    height: 20px;
                    width: 20px;
                    border-radius: $RadiusTwo;
                    accent-color: $primary;
                }

            }

            .login-button {
                padding: 45px 0;
                border-bottom: 2px solid $borderColor;

                button {
                    @include commonButton();
                }
            }

            .register {
                a {
                    color: #000;
                    font-size: $oneeightFont;
                    font-weight: 600;
                }
            }
        }
    }
}

.join-us {
    padding: 80px 0;

    .main-title {
        margin-bottom: 20px;

        h3 {
            color: $lightBlack;
            font-size: 30px;
            font-weight: 700;
            margin-top: 20px;
            text-transform: uppercase;

        }

    }
}

