.hero-section {
    margin-top: 80px;

    .welcome-msg {
        font-size: 60px;

        #cursor {
            display: inline-block;
            vertical-align: middle;
            width: 3px;
            height: 50px;
            background-color: $secondary;
            animation: blink .75s step-end infinite;
        }

        #text {
            color: $secondary;
            display: block;
            height: 72px;
        }

    }

    .bg-hero {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 120px;
        border-radius: $radius-normal;
        // box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

        .hero-content {
            h3 {
                font-size: 50px;
                color: $lightBlack;
                line-height: 65px;

                b {
                    display: block;
                }
            }
        }

        .image-lady {
            position: absolute;
            width: 100%;
            top: -290px;
        }
    }
}

.team-member {
    margin-top: 80px;
    margin-bottom: 80px;

    .main-title {
        margin-bottom: 20px;

        h3 {
            color: $lightBlack;
            font-size: 30px;
            font-weight: 700;
            margin-top: 20px;
            text-transform: uppercase;
        }

        a {
            color: $secondary;
            font-weight: 700;
            font-size: 16px;
        }
    }

    .team-slider {
        .single-team-member {
            // background-color: #fff;
            // box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            // width:max-content !important;
            // padding:20px;

            a {
                img {
                    height: 200px;
                    border-radius: $radius-normal;
                    width: 100%;
                    object-fit: cover;

                }

                h5 {
                    color: $lightBlack;
                    font-size: 20px;
                    font-weight: 600;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                p {
                    color: $secondary;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
    }
}

.view-all-team {
    background-color: #CCF0BF;
    padding: 80px 0;

    h3 {
        font-size: 50px;
        color: $primary;
        line-height: 65px;
    }
}

.search-section {
    margin-top: 180px;
    margin-bottom: 80px;
    position: relative;

    .round-position {
        position: absolute;
        top: -180px;
        width: 200px;
        right: 50px;
    }

    .welcome-msg {
        font-size: 60px;

        #cursor2 {
            display: inline-block;
            vertical-align: middle;
            width: 3px;
            height: 50px;
            background-color: $secondary;
            animation: blink .75s step-end infinite;
        }

        #text2 {
            color: $secondary;
            display: block;
            height: 72px;
        }
    }

    .bg-hero {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 120px;
        border-radius: $radius-normal;

        .hero-content {
            h3 {
                font-size: 50px;
                color: $lightBlack;
                line-height: 65px;

                b {
                    display: block;
                }
            }
        }

        .image-lady {
            position: absolute;
            width: 100%;
            top: -350px;
        }
    }
}

.testimonial {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #CCF0BF;

    .testimonial-content {
        h3 {
            color: $lightBlack;
            font-size: 24px;
            font-weight: 600;
        }

        .testimonial-details {
            img {
                width: 60px;
                height: 60px;
                border-radius: 5px;
            }

            h5 {
                font-size: 20px;
                color: $lightBlack;
                font-weight: 700;
            }

            p {
                font-size: 14px;
                color: $lightBlack;
                font-weight: 500;
            }
        }
    }
}

.hero-main {
    .main-slider {
        .main-bg {
            height: 650px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            .inner-hero {
                padding-top: 250px;
                text-align: center;

                h3 {
                    color: $white;
                    font-size: 65px;
                    font-weight: 700;
                    position: relative;
                }

                a {
                    text-transform: uppercase;
                    color: $white;
                    font-size: 14px;
                    text-align: center;
                    position: relative;
                    opacity: 0.5;
                    letter-spacing: 2.6px;
                    display: block;
                    margin-top: 20px;
                    font-weight: 600;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .bg-find-services {
        background-color: $lightBlack;
        height: 650px;
        padding: 150px 60px 0 60px;

        h3 {
            color: $white;
            font-size: 40px;
            margin-bottom: 20px;
        }

        p {
            color: $white;
            font-size: 16px;
            margin-bottom: 20px;

        }

        a {
            background-color: transparent;
            color: $white;
            border: 1px solid #fff;
            display: block;
            padding: 15px 20px;
            text-align: center;
            margin-bottom: 30px;
            border-radius: 5px;
            margin-bottom: 40px;

        }

    }

}


.login-form-main {
    height: 100vh;
    overflow: hidden;
    background-color: #f8f8f8;

    .lady-section {
        .title-main {
            font-weight: 600;
            font-size: 45px;

            span {
                display: block;
            }
        }
    }


    .login-form {
        padding: 20px;
        max-width: 100%;
        width: 600px;
        background: $white;
        margin: 0 auto;
        position: relative;
        border-radius: $RadiusFive;

        .hey-hello{
            h3{
                font-size:48px;
                font-weight:700;
                color: $lightBlack;

            }
            p{
                color: $secondary;
                font-size:20px;
                font-weight:600;

            }
        }

        .login-title h3 {
            @include fontSize(48px);
        }

        .login-line p {
            font-size: $oneeightFont;
            font-weight: 600;
            color: $grayColor;
        }

        .login-field {
            .login-label label {
                font-size: 18px;
                font-weight: 600;
                color: $lightBlack;
            }

            .login-input input {
                @include commonInput();

                &:focus {
                    outline: none;
                }
            }
        }

        .remember-checkbox {
            input {
                height: 20px;
                width: 20px;
                border-radius: $RadiusTwo;
                accent-color: $primary;
            }

        }

        .login-button {
        
            border-bottom: 2px solid $borderColor;

        }

        .register {
            a {
                color: #000;
                font-size: $oneeightFont;
                font-weight: 600;
            }
        }
    }

}



.join-us {
    padding: 80px 0;

    .main-title {
        margin-bottom: 20px;

        h3 {
            color: $lightBlack;
            font-size: 30px;
            font-weight: 700;
            margin-top: 20px;
            text-transform: uppercase;

        }

    }
}


.company-regi-main {
    padding: 80px 0;
    position: relative;

    .small-round {
        img {
            position: absolute;
        }
    }

    .progres-bar {
        display: flex;

        .step {
            text-align: center;
            width: 100%;
            position: relative;



            .bullet {
                border: 2px solid #fff;
                display: inline-block;
                border-radius: 50%;
                position: relative;
                transition: 0.2s;
                font-weight: 500;
                color: #AAAADD;
                font-size: 14px;
                line-height: 30px;
                height: 30px;
                width: 30px;

                &::after,
                &::before {
                    position: absolute;
                    content: "";
                    bottom: 10px;
                    height: 2px;
                    width: 100px;
                    left: 40px;
                }

                &::after {
                    background: #c2c2c2;
                    transform-origin: left;
                    animation: animate 0.3s linear forwards;
                }

                &.active {
                    span {
                        display: none;
                    }

                    &::after {
                        background: #380645;
                        transform: scaleX(0);
                        transform-origin: left;
                        animation: animate 0.3s linear forwards;

                    }
                }

                @keyframes animate {
                    100% {
                        transform: scaleX(1);
                    }
                }
            }

            &:last-child {
                .bullet {

                    &::after,
                    &::before {
                        display: none;
                    }
                }
            }

            .check {
                position: absolute;
                left: 50%;
                top: 73%;
                font-size: 16px;
                transform: translate(-50%, -50%);
                display: none;

                &.active {
                    display: block;

                    span {
                        font-size: 14px;
                        line-height: 30px;
                        color: #000;
                        height: 30px;
                    }
                }

            }

            &:nth-child(1) .bullet {
                background-color: #E2D2FE;
            }

            &:nth-child(2) .bullet {
                background-color: #D3FDF9;
            }

            &:nth-child(3) .bullet {
                background-color: #CCF0BF;
            }

            &:nth-child(4) .bullet {
                background-color: #FADFA8;
            }

        }


    }

    .step-form {
        .form-outer {

            background: $white;

            overflow: hidden;

            form {
                display: flex;
                width: 400%;

                .page {
                    width: 25%;
                    transition: margin-left 0.3s ease-in-out;
                }
            }
        }
    }

    button {
        @include commonButton();
    }

    .step-two {
        .profile-pic {
            .profile {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                min-width: 50px;
                object-fit: contain;
                cursor: pointer;
            }

            .camera {
                left: 53%;
                cursor: pointer;
            }

            input[type="file"] {
                cursor: pointer;
                display: block;
                height: 100%;
                left: 0;
                opacity: 0 !important;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}