.login-form-main {
    padding-top: 30px;

    .login-dashboard-main {
        h1 {
            @include fontSize(48px);
            width: 350px;
            padding: 20px;
        }

        .login-dashboard-img {
            height: calc(100vh - 20vh);

            @include media-breakpoint-down (sm) {
                height: 600px;
            }

            .round-img {
                @include width();
                z-index: -1;
                height: 600px;
            }

            .emp-img {
                height: 100%;
                object-fit: cover;
                padding-top: 45px;
                @include width();
            }
        }
    }

    .form-main {
        padding: 60px;

        @media (max-width: 500px) {
            padding: 20px;
        }

        .login-form {
            padding: 20px;
            max-width: 100%;
            width: 500px;
            background: $white;
            margin: 0 auto;

            .login-title h3 {
                @include fontSize(48px);
            }

            .login-line p {
                font-size: $oneeightFont;
                font-weight: 600;
                color: $grayColor;
            }

            .login-feild {
                .login-label label {
                    font-size: 20px;
                    font-weight: 600;
                    color: $lightBlack;
                }

                .login-input input {
                    @include commonInput();

                    &:focus {
                        outline: none;
                    }
                }
            }

            .remember-checkbox {
                input {
                    height: 20px;
                    width: 20px;
                    border-radius: $RadiusTwo;
                    accent-color: $primary;
                }

            }

            .login-button {
                padding: 45px 0;
                border-bottom: 2px solid $borderColor;

                button {
                    @include commonButton();
                }
            }

            .register {
                a {
                    color: #000;
                    font-size: $oneeightFont;
                    font-weight: 600;
                }
            }
        }
    }
}

.company-regi-main {
    padding: 80px 0;
    position: relative;
.small-round{
    img{
        position: absolute;
    }
}
    .progres-bar {
        display: flex;

        .step {
            text-align: center;
            width: 100%;
            position: relative;



            .bullet {
                border: 2px solid #fff;
                display: inline-block;
                border-radius: 50%;
                position: relative;
                transition: 0.2s;
                font-weight: 500;
                color: #AAAADD;
                font-size: 14px;
                line-height: 30px;
                height: 30px;
                width: 30px;

                &::after,
                &::before {
                    position: absolute;
                    content: "";
                    bottom: 10px;
                    height: 2px;
                    width: 100px;
                    left: 40px;
                }

                &::after {
                    background: #c2c2c2;
                    transform-origin: left;
                    animation: animate 0.3s linear forwards;
                }

                &.active {
                    span {
                        display: none;
                    }

                    &::after {
                        background: #380645;
                        transform: scaleX(0);
                        transform-origin: left;
                        animation: animate 0.3s linear forwards;

                    }
                }

                @keyframes animate {
                    100% {
                        transform: scaleX(1);
                    }
                }
            }

            &:last-child {
                .bullet {

                    &::after,
                    &::before {
                        display: none;
                    }
                }
            }

            .check {
                position: absolute;
                left: 50%;
                top: 73%;
                font-size: 16px;
                transform: translate(-50%, -50%);
                display: none;

                &.active {
                    display: block;

                    span {
                        font-size: 14px;
                        line-height: 30px;
                        color: #000;
                        height: 30px;
                    }
                }

            }

            &:nth-child(1) .bullet {
                background-color: #E2D2FE;
            }

            &:nth-child(2) .bullet {
                background-color: #D3FDF9;
            }

            &:nth-child(3) .bullet {
                background-color: #CCF0BF;
            }

            &:nth-child(4) .bullet {
                background-color: #FADFA8;
            }

        }


    }

    .step-form {
        .form-outer {

            background: $white;

            overflow: hidden;

            form {
                display: flex;
                width: 400%;

                .page {
                    width: 25%;
                    transition: margin-left 0.3s ease-in-out;
                }
            }
        }
    }

    button {
        @include commonButton();
    }

    .step-two {
        .profile-pic {
            .profile {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                min-width: 50px;
                object-fit: contain;
                cursor: pointer;
            }

            .camera {
                left: 53%;
                cursor: pointer;
            }

            input[type="file"] {
                cursor: pointer;
                display: block;
                height: 100%;
                left: 0;
                opacity: 0 !important;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}