$primary: #a677fa;
$white: #ffffff;
$black: #000000;
$lightPrimary: #E2D2FE;
$grayColor: #AAA7BA;

// border 

$borderColor: #F5F5F5;
$lightBlack: #232323;

// --- Font Size --- 
$smallFont: 15px;
$onesixFont: 16px;
$onesevenFont: 17px;
$oneeightFont: 18px;


// --- Font Weight ---
$WeightThree: 300;
$WeightFour: 400;
$WeightFive: 500;
$WeightSix: 600;
$WeightSeven: 700;
$WeightEight: 800;

// --- Border Radius ---
$RadiusFive: 5px;
$RadiusTwo: 2px;
$primary-radius: 17px;