@import "common/_variables";
@import 'bootstrap/scss/bootstrap';
@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";
@import "../../node_modules/slick-carousel/slick/slick.scss";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@import "./common/mixin";

@import "components/slick";
@import "common/_global";
@import "common/_themes";
@import "common/_fonts";




@import "layout/header";